* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


/* Nav CSS Start */

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 25px 0 black;
    justify-content: flex-end;
    width: 100%;
    z-index: 1;
}

header * {
    display: inline;
}


header h1 {
    margin: auto;
    padding: 10px;
    font-size: 50px;
}

header li {
    margin: 50px;
    justify-content: flex-end;
}

header li a {
    color: black;
    text-decoration: none;
    font-size: x-large;
}

nav h1 {
    color: black;
}

/* Nav CSS end */

/* Hero IMG */

.Derik {
    display: inline;
    grid-column-start: -3;
    grid-column-end: -1;
    background-position: 5% 5%;
    width: 400px;
    height: 550px;
    padding: 10px;
    margin: 70px;
    object-fit: cover;
    object-position: 10% 10%;
    box-shadow: 0 0 25px 0 black;
}

/* About Me Section Starts */

.container {
    display: grid;
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 75px 0px 30px;
    box-sizing: border-box;
}

.container div {
    padding: 10px;
}

.aboutmeclass {
    max-width: fit-content;
    height: fit-content;
    text-align: right;
    font-size: 80px;
    font-weight: bold;
}

.aboutmeclass01 {
    font-size: x-large;
}

.aboutmeid {
    grid-column: span 4;
    font-size: 40px;
}

/* Work section */
.workClass {
    display: block;
    max-width: fit-content;
    font-size: 80px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.hookup h2 {
    font-size: xx-large;
    font-weight: bold;
}

.hookup img {
    display: inline;
    grid-column-start: -3;
    grid-column-end: -1;
    background-position: 5% 5%;
    width: 75%;
    height: 250px;
    padding: 10px;
    margin: 70px;
    object-fit: cover;
    object-position: 10% 10%;
    box-shadow: 0 0 25px 0 black;


}

.run-buddy h2 {
    font-size: xx-large;
    font-weight: bold;
}

.run-buddy img {
    grid-column-start: -3;
    grid-column-end: -1;
    background-position: .5% .5%;
    width: 75%;
    height: 250px;
    padding: 10px;
    margin: 70px;
    object-fit: cover;
    object-position: 10% 10%;
    box-shadow: 0 0 25px 0 black;
}

.javascript h2 {
    font-size: xx-large;
    font-weight: bold;
}

.javascript img {
    grid-column-start: -3;
    grid-column-end: -1;
    object-position: 90% 50%;
    width: 75%;
    height: 250px;
    padding: 10px;
    margin: 70px;
    object-fit: cover;
    box-shadow: 0 0 25px 0 black;

}

.taskinator h2 {
    font-size: xx-large;
    font-weight: bold;
}

.taskinator img {
    grid-column-start: -3;
    grid-column-end: -1;
    width: 75%;
    height: 250px;
    padding: 10px;
    margin: 70px;
    object-fit: cover;
    box-shadow: 0 0 25px 0 black;
}

.work:hover,
.taskinator:hover,
.javaScript:hover,
.hookup:hover,
.run-buddy:hover {
    opacity: 1;
    cursor: pointer;
}

.work figure img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.work figure:hover img {
    -webkit-filter: blur(0);
    filter: blur(0);
}

/* work section ends */

/* resume Section */

.resumeClass {
    display: block;
    max-width: fit-content;
    font-size: 80px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* Footer Section */

.contactClass {
    display: block;
    max-width: fit-content;
    font-size: 80px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.contactInfo {
    display: block;
    font-size: xx-large;
    font-weight: bold;
    margin: 10px;
}